<img src="files/figs/logo_ufcg.png" width=150 align="right"/>   <H1> Python Básico (para economistas) <H1/> <H5> Sérgio Rivero<H5/> Economia CH-UFCG

# Funções, Condição, Iteração, Módulos

In [ ]:
## Criando vários objetos

a_resposta = 42
a_resposta_string = "quarenta e dois"
a_resposta_float = float(a_resposta)

In [ ]:
print(a_resposta)
print(a_resposta_string)
a = float(a_resposta)

In [ ]:
print(a)

In [ ]:
float(a_resposta_string)

In [ ]:
hours = 4
minutes = hours * 60

print(minutes)

In [ ]:
hours * 60 = minutes

In [ ]:
hours * 60 == minutes

In [ ]:
print(hours)
print(minutes)
print(5*60)
239.9999999 != minutes

In [ ]:
def parte_inteira(dividendo, divisor=1):
    resultado_inteiro = dividendo//divisor
    return resultado_inteiro

In [ ]:
resultado = parte_inteira(5,2)

print(resultado)

In [ ]:
def quadrados(x,z,w):
    resposta = x**2 + z**2 + w**2
    print("Aqui é dentro da função", resposta)
    return resposta

In [ ]:
y = quadrados(22,3,4)
print("O valor de y é ",y)

In [ ]:
parte_inteira(10,3)

In [ ]:
parte_inteira(10.25)

In [ ]:
resultado = parte_inteira(10510,233)

print(resultado)

In [ ]:
def imprime_parte_inteira(dividendo, divisor):
    resultado_inteiro = dividendo//divisor
    print(resultado_inteiro)

In [ ]:
resultado_impresso = imprime_parte_inteira(10510,233)

print(resultado_inteiro)

In [ ]:
def sao_iguais(x,y):
    if x==y:
        print("Os dois números são iguais")
    else:
        print("Os dois números são diferentes")
    return(x==y)

a = 10
c = 20
d = a + c
print("a = ",a, " c = ",c , " e  d = ", d)
print(a == c)
sao_iguais(a,c)
a = c
print("a = ",a, " c = ",c , " e  d = ", d)
print(a == c)
sao_iguais(a,c)

In [ ]:
print(type(sao_iguais(a,c)))
print(type(a==c))

In [ ]:
def maior_que(x,y):
    if x > y:
        print(x," é maior que ", y)
    else:
        print(x," não é maior que ",y)

In [ ]:
maior_que(10, 9)

In [ ]:
print(10>9)
print(10<=9)

print("Usando o not")

print(not(10>9))
print(not(10<=9))

In [51]:
def e_par(x):
    if x % 2 == 0:
        return True
    else:
        return False

In [52]:
print(e_par(10))

print(e_par(11))

True
False

# Iteração

In [60]:
a = range(2,12,2)
print(a)

for numero in a:
    if e_par(numero):
        print(numero, "é par")
    else:
        print(numero, "não é par")

range(2, 12, 2)
2 é par
4 é par
6 é par
8 é par
10 é par

In [66]:
import numpy as np
a = np.arange(0,4.1,0.1)
print(a)

for numero in a:
    if e_par(numero):
        print(numero, "é par")
    else:
        print(numero, "não é par")

[0.  0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1.  1.1 1.2 1.3 1.4 1.5 1.6 1.7
 1.8 1.9 2.  2.1 2.2 2.3 2.4 2.5 2.6 2.7 2.8 2.9 3.  3.1 3.2 3.3 3.4 3.5
 3.6 3.7 3.8 3.9 4. ]
0.0 é par
0.1 não é par
0.2 não é par
0.30000000000000004 não é par
0.4 não é par
0.5 não é par
0.6000000000000001 não é par
0.7000000000000001 não é par
0.8 não é par
0.9 não é par
1.0 não é par
1.1 não é par
1.2000000000000002 não é par
1.3 não é par
1.4000000000000001 não é par
1.5 não é par
1.6 não é par
1.7000000000000002 não é par
1.8 não é par
1.9000000000000001 não é par
2.0 é par
2.1 não é par
2.2 não é par
2.3000000000000003 não é par
2.4000000000000004 não é par
2.5 não é par
2.6 não é par
2.7 não é par
2.8000000000000003 não é par
2.9000000000000004 não é par
3.0 não é par
3.1 não é par
3.2 não é par
3.3000000000000003 não é par
3.4000000000000004 não é par
3.5 não é par
3.6 não é par
3.7 não é par
3.8000000000000003 não é par
3.9000000000000004 não é par
4.0 é par

In [65]:
2.2 % 2

0.20000000000000018

In [71]:
def ate_0(n):
    if n < 0:
        print(" n deve ser um número maior ou igual a zero")
    else:
        while n > 0:
            print(n)
            n = n - 1
        print("cheguei em zero")

In [74]:
ate_0(10)

10
9
8
7
6
5
4
3
2
1
cheguei em zero

In [76]:
while True:
    line = input('> ')
    if line == 'done':
        break
    print(line)
print('Done!')

dkfkd
alslsls
soeeoeoe
jfjfjf
jdjdjdjd
Done!

In [92]:
def ate_0_r(n):
    if n <= 0:
        print(" n deve ser um número maior ou igual a zero")
    elif n == 0:
        print('Cheguei em zero!')
    else:
        print(n)
        ate_0_r(n-1)

In [88]:
def ate_0_r_2(n):
    if n <= 0:
        print(" n deve ser um número maior ou igual a zero")
    if n == 0:
        print('Cheguei em zero!')
    if n > 0:
        print(n)
        ate_0_r(n-1)

In [93]:
ate_0_r(0)

 n deve ser um número maior ou igual a zero

In [90]:

ate_0_r_2(0)

 n deve ser um número maior ou igual a zero
Cheguei em zero!

# Listas

In [14]:
fruta = "banana"
print(fruta)

for letra in fruta:
    print(letra)
fruta = "morango"
i = 0
while i < len(fruta):
    print(fruta[i], "posição:", i)
    i += 1

print("ultima letra de", fruta, " é ", fruta[len(fruta)-1])

ultima_letra = len(fruta)

print(fruta[ultima_letra - 3 : ultima_letra])
print(ultima_letra)

banana
b
a
n
a
n
a
m posição: 0
o posição: 1
r posição: 2
a posição: 3
n posição: 4
g posição: 5
o posição: 6
ultima letra de morango  é  o
ngo
7

In [24]:
def acha(palavra, letra):
    i = 0
    while i < len(palavra):
        if palavra[i] == letra:
            print('achei a letra', letra, 'número ', i)
        i += 1


print(i)
print(palavra[1] == 'a')

acha("banana", "a")
acha("banana", "n")

7
True
achei a letra a número  1
achei a letra a número  3
achei a letra a número  5
achei a letra n número  2
achei a letra n número  4

In [27]:
veg = 'cenoura'

print(veg.upper())
type(veg)

CENOURA

str

# Listas

In [41]:
nome = 'João da Silva'

resultado = nome.split(' ')
print(resultado)

len(resultado)

print(resultado[0])
print(resultado[1])
print(resultado[2].upper())

print(resultado[0], resultado[1], resultado[2].upper())

sobrenome = resultado.pop()
print(resultado)
print('O sobrenome é', sobrenome)
resultado.append(sobrenome)

print('O nome completo é', resultado)

resultado.append('Oliveira')

print('O nome de casado do', resultado[0:3],'é', resultado)

print('O primeiro nome do senhor', resultado[3], 'é', resultado[0] )

['João', 'da', 'Silva']
João
da
SILVA
João da SILVA
['João', 'da']
O sobrenome é Silva
O nome completo é ['João', 'da', 'Silva']
O nome de casado do ['João', 'da', 'Silva'] é ['João', 'da', 'Silva', 'Oliveira']
O primeiro nome do senhor Oliveira é João

In [44]:
discentes = []
type(discentes)
print(discentes)

[]

In [59]:
discentes = []
discentes.append('João da Silva')
discentes.append('Maria Oliveira')
print(discentes)
len(discentes)
discentes.append('José de Nazaré')
print(discentes)
len(discentes)
aluna = discentes.pop(1)
print(discentes)
print(len(discentes))
print(aluna)
discentes.append(aluna)
novos = ['Antonio José', 'Maria José']
nova_turma = discentes + novos
print(nova_turma)
nova_turma.sort()
print(nova_turma)

['João da Silva', 'Maria Oliveira']
['João da Silva', 'Maria Oliveira', 'José de Nazaré']
['João da Silva', 'José de Nazaré']
2
Maria Oliveira
['João da Silva', 'José de Nazaré', 'Maria Oliveira', 'Antonio José', 'Maria José']
['Antonio José', 'José de Nazaré', 'João da Silva', 'Maria José', 'Maria Oliveira']

In [73]:
def chamada(lista_de_discentes):
    ordem = 1
    for discente in lista_de_discentes:
        print(ordem, discente, '_________________________________')
        ordem += 1
    print(ordem)

def chamada_while(lista_de_discentes):
    tamanho = len(lista_de_discentes)
    ordem = 1
    i = 0
    while i < tamanho:
        print(ordem, lista_de_discentes[i], '_________________________________')
        ordem +=1
        i +=1

chamada(nova_turma)
chamada_while(nova_turma)

1 Antonio José _________________________________
2 José de Nazaré _________________________________
3 João da Silva _________________________________
4 Maria José _________________________________
5 Maria Oliveira _________________________________
6
1 Antonio José _________________________________
2 José de Nazaré _________________________________
3 João da Silva _________________________________
4 Maria José _________________________________
5 Maria Oliveira _________________________________

In [85]:
x = list(range(-10,11))
y = []
print(x)
for i in x:
    y.append(i**2)
print(y)
print(sum(x))
print(sum(y))
print()

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[100, 81, 64, 49, 36, 25, 16, 9, 4, 1, 0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
0
770

# Dicionários


Podemos criar dicionários usando "{}"

In [92]:
notas = dict()
print(type(notas))
estudantes = {'joao':101, 'jose':202, 'maria':233, 'antonio':105, 'ana':200}
print(type(estudantes))

<class 'dict'>
<class 'dict'>

## Acrescentando elementos num dicionário

In [105]:
notas = dict()
notas['joao'] = [80,75,85,90]
print(notas)
notas['jose'] = [80,72,82,92]
print(notas)
notas['maria'] = [80,90,89]
print(notas['maria'])
notas['maria'].append(90)
print(notas)

{'joao': [80, 75, 85, 90]}
{'joao': [80, 75, 85, 90], 'jose': [80, 72, 82, 92]}
[80, 90, 89]
{'joao': [80, 75, 85, 90], 'jose': [80, 72, 82, 92], 'maria': [80, 90, 89, 90]}

## Iterando em um dicionário

In [111]:
for discente in notas:
    print(discente)
    print(type(discente))
    print('Agora com a chave', notas[discente])

joao
<class 'str'>
Agora com a chave [80, 75, 85, 90]
jose
<class 'str'>
Agora com a chave [80, 72, 82, 92]
maria
<class 'str'>
Agora com a chave [80, 90, 89, 90]

In [112]:
# Agora usando itens
for discente, nota in notas.items():
    print(discente, nota)
    print(type(discente))
    print('Agora com a chave', notas[discente])

joao [80, 75, 85, 90]
<class 'str'>
Agora com a chave [80, 75, 85, 90]
jose [80, 72, 82, 92]
<class 'str'>
Agora com a chave [80, 72, 82, 92]
maria [80, 90, 89, 90]
<class 'str'>
Agora com a chave [80, 90, 89, 90]

In [ ]:
for discente in notas:
    print(discente)
    print(type(discente))
    print('Agora com a chave', notas[discente])

### Tratando os dados do Dicionário

In [107]:
medias = {}
for discente in notas:
    nota = notas[discente]
    n = len(nota)
    media = sum(nota)/n
    print(discente, nota, media)
    medias[discente] = media
print(medias)

joao [80, 75, 85, 90] 82.5
jose [80, 72, 82, 92] 81.5
maria [80, 90, 89, 90] 87.25
{'joao': 82.5, 'jose': 81.5, 'maria': 87.25}

### Melhorando nosso código

In [109]:
def calcula_media(notas):
    n = len(notas)
    media = sum(notas)/n
    return media
    
## Testando a funcao
minhas_notas = [10, 9,8, 8, 8, 9, 9 ]
print(calcula_media(minhas_notas))

8.714285714285714

In [113]:
# Reescrevendo a função

medias = {}
for discente, nota in notas.items():
    media = calcula_media(nota)
    print(discente, nota, media)
    medias[discente] = media
print(medias)

joao [80, 75, 85, 90] 82.5
jose [80, 72, 82, 92] 81.5
maria [80, 90, 89, 90] 87.25
{'joao': 82.5, 'jose': 81.5, 'maria': 87.25}

In [125]:
def fecha_notas(alunos):
    medias = {}
    for discente, nota in alunos.items():
        medias[discente] = calcula_media(nota)
    return medias

In [126]:
fecha_notas(notas)

{'joao': 82.5, 'jose': 81.5, 'maria': 87.25}

In [127]:
## Usando a função
print(notas)
minhas_medias = fecha_notas(notas)
print(minhas_medias)

{'joao': [80, 75, 85, 90], 'jose': [80, 72, 82, 92], 'maria': [80, 90, 89, 90]}
{'joao': 82.5, 'jose': 81.5, 'maria': 87.25}

In [128]:
## Gravando as notas e as medias

notas_arquivo = open('files/data/notas_da_turma.txt', 'w')
 
for k,v in notas.items():
    notas_arquivo.write(str(k)+','+str(v)+'\n')

notas_arquivo.close()

In [131]:
## Gravando as notas e as medias

notas_arquivo_r = open('files/data/notas_da_turma.txt', 'r')
 
print(type(notas_arquivo_r)) 

novas_notas = notas_arquivo_r.readlines()

print(novas_notas)
print(type(novas_notas))
notas_arquivo.close()

<class '_io.TextIOWrapper'>
['joao,[80, 75, 85, 90]\n', 'jose,[80, 72, 82, 92]\n', 'maria,[80, 90, 89, 90]\n']
<class 'list'>